<section class="main-padding mt-5 pt-3 pb-4">
<div class="d-flex">
    <div class="categories-container">
        <form>
            <div *ngFor="let category of categories" class="d-flex flex-column gap-3 mb-1">
              <label class="d-flex align-items-center gap-1">
                <input 
                  type="radio" 
                  name="category" 
                  [value]="category.slug" 
                  (change)="onCategoryChange(category.slug)" 
                  [checked]="selectedCategory === category.slug"
                />
                {{ category.name }}
              </label>
            </div>
          </form>
    </div>
    <div class="products-container">

    </div>
</div>
</section>